[mgr]
show_hidden = true

# Make Firefox available to open PDFs (can edit and view annotations)
# See https://yazi-rs.github.io/docs/configuration/yazi/#opener
[opener]
firefox = [
  { run = 'firefox "$@"', orphan = true, desc = 'firefox' },
]
qutebrowser = [
  { run = 'qutebrowser "$@"', orphan = true, desc = 'qutebrowser' },
]

# NOTE: edit_in_doc does not work in filtered view, such as after running a
# search. the arg that seems to be passed as $@ is the item that was selected
# prior to running the search.
edit_in_doc = [
  { run = '~/.local/bin/yazi_open_in_tmux_window "${@}"', block = false, desc = 'open in doc'}
]

[open]
prepend_rules = [
	{ name = "*.pdf", use = [ "open", "firefox" ] },
	{ name = "*.html", use = [ "qutebrowser", "firefox" ] },
    # does not work on filter-views
	# { mime = "text/*", use = "edit_in_doc" },
]
